{
  "presets": [
    ["@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-export-namespace-from",
    "@babel/transform-flow-strip-types",
    "@babel/plugin-transform-runtime"
  ]
}